
	<div class="page_list"ng-controller="workersCtrl" ng-hide="isOpen">
		<!-- header -->
		<div id="header">
		    <div class="go-back" onclick="history.go(-1)"><i class="glyphicon glyphicon-menu-left"></i></div>
			<h4 class="text-center">我的订单</h4>
		</div>
		<!--list  orderdetails -->
       <div class="panel panel-default ayi-list" ng-repeat="item in list" ng-click="redirectTo('/orderdetails')">
				
				<div class="panel-body">
					<p>
						<span><i class="icon icon-baojie"></i></span>
						<span style="font-size: 16px ;">定期保洁</span>
						<span class="pull-right" style="font:;">订单编号：231564812</span>
					</p>             
				</div>
			<div class="panel-footer">
				
			</div>
	</div>

